In [1]:
!pip install tmdbsimple

Collecting tmdbsimple
  Downloading tmdbsimple-2.9.1-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (from tmdbsimple) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests->tmdbsimple) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests->tmdbsimple) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests->tmdbsimple) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests->tmdbsimple) (2024.7.4)
Downloading tmdbsimple-2.9.1-py3-none-any.whl (38 kB)
Installing collected packages: tmdbsimple
Successfully installed tmdbsimple-2.9.1

In [2]:
import tmdbsimple as tmdb
import pandas as pd
import sqlite3 as sql
from google.cloud import bigquery
client = bigquery.Client()
connection = sql.connect(':memory:')

Using Kaggle's public dataset BigQuery integration.

In [3]:
tmdb.API_KEY = '637ae0caefc579558e30ed409fb20532'
search = tmdb.Search()
discover = tmdb.Discover()

In [4]:
watched = pd.read_csv('/kaggle/input/letterboxd/diary.csv')
reviewed = pd.read_csv('/kaggle/input/reviewed/reviews.csv')
liked_films = pd.read_csv('/kaggle/input/liked-films/films.csv')

In [5]:
watched

,Date,Name,Year,Letterboxd URI,Rating,Rewatch,Tags,Watched Date
0,2020-06-27,Parasite,2019,https://boxd.it/1dGmIN,4.5,NaN,NaN,2020-06-26
1,2020-06-27,Get Out,2017,https://boxd.it/1dGmRZ,4.5,NaN,NaN,2020-06-26
2,2020-06-27,Spirited Away,2001,https://boxd.it/1dGn79,3.5,NaN,NaN,2020-06-26
3,2020-06-27,Us,2019,https://boxd.it/1dGnht,4.5,NaN,NaN,2020-06-26
4,2020-06-27,Spider-Man: Homecoming,2017,https://boxd.it/1dGnof,3.0,NaN,NaN,2020-06-26
...,...,...,...,...,...,...,...,...
196,2024-07-12,Longlegs,2024,https://boxd.it/6Rakn5,4.0,NaN,NaN,2024-07-11
197,2024-07-16,Naruto 20th Anniversary - Road of Naruto,2022,https://boxd.it/6T5lcF,5.0,NaN,NaN,2024-07-15
198,2024-07-17,Boruto: Naruto the Movie,2015,https://boxd.it/6TDLft,4.5,Yes,NaN,2024-07-17
199,2024-07-25,Twisters,2024,https://boxd.it/6XeoPT,5.0,NaN,NaN,2024-07-24
200,2024-08-16,The Undoing,2020,https://boxd.it/76FMAj,4.5,NaN,NaN,2024-08-15

In [6]:
reviewed

           Date                 Content
0    2020-10-17  https://boxd.it/12IDQT
1    2020-12-22  https://boxd.it/1wDGWb
2    2020-12-22  https://boxd.it/1wDFOv
3    2020-12-31  https://boxd.it/1xVF0F
4    2021-02-08  https://boxd.it/1E8y5t
..          ...                     ...
146  2024-05-25  https://boxd.it/6xw5DB
147  2024-06-29  https://boxd.it/6LB859
148  2024-06-29  https://boxd.it/6LBmpd
149  2024-07-12  https://boxd.it/6Raf7L
150  2024-07-15  https://boxd.it/6ScbnN

[151 rows x 2 columns]

In [7]:
# Extract title for each film into a list

titles = watched.Name.tolist()
print(titles)
print(len(titles))

['Parasite', 'Get Out', 'Spirited Away', 'Us', 'Spider-Man: Homecoming', 'Inside Out', 'Coco', 'Harry Potter and the Prisoner of Azkaban', 'ERASED', 'Rascal Does Not Dream of Bunny Girl Senpai', 'DARLING in the FRANXX', 'Your Name.', 'Wolf Children', 'Whisper of the Heart', 'Hotarubi no Mori e', 'Rascal Does Not Dream of a Dreaming Girl', 'Demon Slayer: Kimetsu no Yaiba', 'When They See Us', 'Hope', 'Miracle in Cell No. 7', 'The Great Gatsby', 'The Greatest Showman', 'Coraline', 'The Devil All the Time', 'The Kissing Booth', 'Marriage Story', 'The Twilight Saga: Breaking Dawn – Part 1', 'Hereditary', 'The Hate U Give', 'The Silence of the Lambs', 'Hubie Halloween', 'Zodiac', 'Dream/Killer', 'After We Collided', 'The Imitation Game', 'The Social Network', 'Argo', 'The Amazing Spider-Man', 'The Amazing Spider-Man 2', 'Hacksaw Ridge', 'Snowden', 'Now You See Me 2', 'The Big Short', 'ariana grande: excuse me, i love you', 'Little Big Women', 'Hospital', 'The Trial of the Chicago 7', 'Fear Street: 1994', '10 Things I Hate About You', 'Jojo Rabbit', 'Moonrise Kingdom', 'The Dark Knight', 'Prisoners', 'Good Time', 'The Perks of Being a Wallflower', 'The Kissing Booth', 'Good Boys', 'Us', 'The Kissing Booth 3', 'Captain America: Civil War', 'The Nun', 'Annabelle Comes Home', 'Spider-Man: Into the Spider-Verse', 'Primal Fear', 'A Tale of Two Sisters', 'Harry Potter and the Goblet of Fire', 'Big Hero 6', 'Dou kyu sei – Classmates', 'The Social Network', 'It', '10 Things I Hate About You', 'The Amazing Spider-Man', 'Splice', 'Dune', 'All Too Well: The Short Film', 'tick, tick... BOOM!', 'Spider-Man: No Way Home', 'Spider-Man 2', 'Spider-Man 3', 'tick, tick... BOOM!', 'Little Women', 'Superbad', 'Crazy, Stupid, Love.', "Molly's Game", 'The Batman', 'Normal People', 'Jujutsu Kaisen 0', 'Silver Linings Playbook', 'Atonement', "To All the Boys I've Loved Before", 'Perfect Blue', 'Happy Together', 'Silenced', 'Boruto: Naruto the Movie', 'Top Gun: Maverick', 'Mr. & Mrs. Smith', 'What If', "Ocean's Eleven", 'A Cinderella Story', 'Naruto Shippuden the Movie: The Will of Fire', 'The Conjuring', 'Gifted', 'Nope', 'Paddington', 'West Side Story', 'Insidious: Chapter 3', 'Jaws', 'Honor Society', 'Elvis', 'Whiplash', "To All the Boys I've Loved Before", 'Arrival', '(500) Days of Summer', 'To All the Boys: Always and Forever', 'To All the Boys: P.S. I Still Love You', 'Ready or Not', 'Gone Girl', 'Train to Busan', 'Flipped', '13 Going on 30', 'One Direction: This Is Us', 'BTS: Permission to Dance on Stage - LA', 'The Edge of Seventeen', 'Geek Charming', 'Monster House', 'Klaus', 'NCT DREAM THE MOVIE : In A DREAM', 'Hereditary', 'Set It Up', 'Pride & Prejudice', 'Glass Onion', 'Harry Potter and the Order of the Phoenix', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Half-Blood Prince', 'Harry Potter and the Deathly Hallows: Part 2', 'Harry Potter and the Deathly Hallows: Part 1', 'Barbarian', 'Puss in Boots: The Last Wish', 'Everything Everywhere All at Once', 'High School Musical 2', 'The Sixth Sense', 'The Social Network', 'Zombieland: Double Tap', 'Scream', 'Zombieland', 'Scream', "To All the Boys I've Loved Before", 'The Hunger Games: Catching Fire', 'Chungking Express', 'The Super Mario Bros. Movie', 'Scream VI', 'Saw', 'The Little Mermaid', 'Spider-Man: Across the Spider-Verse', 'Black Mirror: Demon 79', 'Mean Girls', 'Black Mirror: Hang the DJ', 'The Redeem Team', 'Black Mirror: Rachel, Jack and Ashley Too', 'Searching', 'La La Land', 'Bird Box Barcelona', "To All the Boys I've Loved Before", 'Barbie', 'Oppenheimer', 'High School Musical', 'Get Out', 'The Dark Knight', "My Sister's Keeper", 'Bodies Bodies Bodies', 'The Shining', 'Barbie', 'Scream', 'You Are So Not Invited to My Bat Mitzvah', "Five Nights at Freddy's", "She's Dating the Gangster", 'Wonka', 'The Hunger Games', 'The Iron Claw', 'The Wailing', 'Paddington 2', "Ocean's Eleven", 'Dune: Part Two', 'Bodies Bodies Bodies', 'Princess Mononoke', 'Civil War', 'Challengers', 'The Idea of You', 'Dear Zachary: A Letter to a Son About His Father', 'The Cove', 'The Alpinist', 'The Jinx: The Life and Deaths of Robert Durst', 'The Hunger Games: Catching Fire', 'Inside Out 2', 'Tell Them You Love Me', 'Diary of a Wimpy Kid: Rodrick Rules', 'Longlegs', 'Naruto 20th Anniversary - Road of Naruto', 'Boruto: Naruto the Movie', 'Twisters', 'The Undoing']
201

In [8]:
# Extract release year of each film into a list
release_years = watched.Year.tolist()
print(release_years)
print(len(release_years))

[2019, 2017, 2001, 2019, 2017, 2015, 2017, 2004, 2016, 2018, 2018, 2016, 2012, 1995, 2011, 2019, 2019, 2019, 2013, 2013, 2013, 2017, 2009, 2020, 2018, 2019, 2011, 2018, 2018, 1991, 2020, 2007, 2015, 2020, 2014, 2010, 2012, 2012, 2014, 2016, 2016, 2016, 2015, 2020, 2020, 2020, 2020, 2021, 1999, 2019, 2012, 2008, 2013, 2017, 2012, 2018, 2019, 2019, 2021, 2016, 2018, 2019, 2018, 1996, 2003, 2005, 2014, 2016, 2010, 2017, 1999, 2012, 2009, 2021, 2021, 2021, 2021, 2004, 2007, 2021, 2019, 2007, 2011, 2017, 2022, 2020, 2021, 2012, 2007, 2018, 1997, 1997, 2011, 2015, 2022, 2005, 2013, 2001, 2004, 2009, 2013, 2017, 2022, 2014, 2021, 2015, 1975, 2022, 2022, 2014, 2018, 2016, 2009, 2021, 2020, 2019, 2014, 2016, 2010, 2004, 2013, 2022, 2016, 2011, 2006, 2019, 2022, 2018, 2018, 2005, 2022, 2007, 2005, 2009, 2011, 2010, 2022, 2022, 2022, 2007, 1999, 2010, 2019, 1996, 2009, 2022, 2018, 2013, 1994, 2023, 2023, 2004, 2023, 2023, 2023, 2004, 2017, 2022, 2019, 2018, 2016, 2023, 2018, 2023, 2023, 2006, 2017, 2008, 2009, 2022, 1980, 2023, 1996, 2023, 2023, 2014, 2023, 2012, 2023, 2016, 2017, 2001, 2024, 2022, 1997, 2024, 2024, 2024, 2008, 2009, 2021, 2015, 2013, 2024, 2023, 2011, 2024, 2022, 2015, 2024, 2020]
201

In [9]:
# Use tmdb.Search to get their ID
total_films = 0

for film, year in zip(titles, release_years):
    response = search.movie(query = film, year = year)
    for value in response['results']:
        if value['title'] == film:
            print(value['title']," / ",
                 value['release_date']," / ",
                 value['id'])
            
            total_films += 1    
            break
            
print("Total Number of Films: ", total_films)

Parasite  /  2019-05-30  /  496243
Get Out  /  2017-02-24  /  419430
Spirited Away  /  2001-07-20  /  129
Us  /  2019-03-14  /  458723
Spider-Man: Homecoming  /  2017-07-05  /  315635
Inside Out  /  2015-06-17  /  150540
Coco  /  2017-10-27  /  354912
Harry Potter and the Prisoner of Azkaban  /  2004-05-31  /  673
Your Name.  /  2016-08-26  /  372058
Wolf Children  /  2012-07-21  /  110420
Whisper of the Heart  /  1995-07-15  /  37797
Hotarubi no Mori e  /  2011-09-17  /  92321
Rascal Does Not Dream of a Dreaming Girl  /  2019-06-15  /  572154
Hope  /  2013-10-02  /  255709
Miracle in Cell No. 7  /  2013-01-23  /  158445
The Great Gatsby  /  2013-05-09  /  64682
The Greatest Showman  /  2017-12-20  /  316029
Coraline  /  2009-02-05  /  14836
The Devil All the Time  /  2020-09-11  /  499932
The Kissing Booth  /  2018-05-11  /  454983
Marriage Story  /  2019-09-28  /  492188
Hereditary  /  2018-06-07  /  493922
The Hate U Give  /  2018-10-19  /  470044
The Silence of the Lambs  /  1991-02-14  /  274
Hubie Halloween  /  2020-10-07  /  617505
Zodiac  /  2007-03-02  /  1949
Dream/Killer  /  2015-04-19  /  333099
After We Collided  /  2020-09-02  /  613504
The Imitation Game  /  2014-11-14  /  205596
The Social Network  /  2010-10-01  /  37799
Argo  /  2012-10-11  /  68734
The Amazing Spider-Man  /  2012-06-23  /  1930
The Amazing Spider-Man 2  /  2014-04-16  /  102382
Hacksaw Ridge  /  2016-10-07  /  324786
Snowden  /  2016-09-15  /  302401
Now You See Me 2  /  2016-06-02  /  291805
The Big Short  /  2015-12-11  /  318846
ariana grande: excuse me, i love you  /  2020-12-21  /  774372
Little Big Women  /  2020-11-06  /  739269
Hospital  /  2020-12-31  /  761163
The Trial of the Chicago 7  /  2020-09-25  /  556984
Fear Street: 1994  /  2021-06-28  /  591273
10 Things I Hate About You  /  1999-03-30  /  4951
Jojo Rabbit  /  2019-10-18  /  515001
Moonrise Kingdom  /  2012-05-16  /  83666
The Dark Knight  /  2008-07-16  /  155
Prisoners  /  2013-09-19  /  146233
Good Time  /  2017-08-11  /  429200
The Perks of Being a Wallflower  /  2012-09-20  /  84892
The Kissing Booth  /  2018-05-11  /  454983
Good Boys  /  2019-08-14  /  521777
Us  /  2019-03-14  /  458723
The Kissing Booth 3  /  2021-08-11  /  727745
Captain America: Civil War  /  2016-04-27  /  271110
The Nun  /  2018-09-05  /  439079
Annabelle Comes Home  /  2019-06-26  /  521029
Spider-Man: Into the Spider-Verse  /  2018-12-06  /  324857
Primal Fear  /  1996-03-06  /  1592
A Tale of Two Sisters  /  2003-06-13  /  4552
Harry Potter and the Goblet of Fire  /  2005-11-16  /  674
Big Hero 6  /  2014-10-24  /  177572
Dou kyu sei – Classmates  /  2016-02-20  /  372754
The Social Network  /  2010-10-01  /  37799
It  /  2017-09-06  /  346364
10 Things I Hate About You  /  1999-03-30  /  4951
The Amazing Spider-Man  /  2012-06-23  /  1930
Splice  /  2010-06-03  /  37707
Dune  /  2021-09-15  /  438631
All Too Well: The Short Film  /  2021-11-12  /  897429
tick, tick... BOOM!  /  2021-11-11  /  537116
Spider-Man: No Way Home  /  2021-12-15  /  634649
Spider-Man 2  /  2004-06-25  /  558
Spider-Man 3  /  2007-05-01  /  559
tick, tick... BOOM!  /  2021-11-11  /  537116
Little Women  /  2019-12-25  /  331482
Superbad  /  2007-03-20  /  8363
Crazy, Stupid, Love.  /  2011-07-29  /  50646
Molly's Game  /  2017-12-07  /  396371
The Batman  /  2022-03-01  /  414906
Jujutsu Kaisen 0  /  2021-12-24  /  810693
Silver Linings Playbook  /  2012-11-16  /  82693
Atonement  /  2007-02-27  /  4347
To All the Boys I've Loved Before  /  2018-08-16  /  466282
Perfect Blue  /  1998-02-28  /  10494
Happy Together  /  1997-05-30  /  18329
Silenced  /  2011-09-22  /  81481
Boruto: Naruto the Movie  /  2015-08-07  /  347201
Top Gun: Maverick  /  2022-05-21  /  361743
Mr. & Mrs. Smith  /  2005-06-07  /  787
What If  /  2013-09-07  /  212716
Ocean's Eleven  /  2001-12-07  /  161
A Cinderella Story  /  2004-07-16  /  11247
Naruto Shippuden the Movie: The Will of Fire  /  2009-08-01  /  36728
The Conjuring  /  2013-07-18  /  138843
Gifted  /  2017-04-07  /  400928
Nope  /  2022-07-20  /  762504
Paddington  /  2014-11-24  /  116149
West Side Story  /  2021-12-08  /  511809
Insidious: Chapter 3  /  2015-05-28  /  280092
Jaws  /  1975-06-20  /  578
Honor Society  /  2022-07-23  /  929170
Elvis  /  2022-06-22  /  614934
Whiplash  /  2014-10-10  /  244786
To All the Boys I've Loved Before  /  2018-08-16  /  466282
Arrival  /  2016-11-10  /  329865
(500) Days of Summer  /  2009-07-17  /  19913
To All the Boys: Always and Forever  /  2021-02-12  /  614409
To All the Boys: P.S. I Still Love You  /  2020-02-03  /  565426
Ready or Not  /  2019-08-21  /  567609
Gone Girl  /  2014-10-01  /  210577
Train to Busan  /  2016-07-20  /  396535
Flipped  /  2010-08-06  /  43949
13 Going on 30  /  2004-04-13  /  10096
One Direction: This Is Us  /  2013-08-28  /  164558
BTS: Permission to Dance on Stage - LA  /  2022-09-08  /  1022102
The Edge of Seventeen  /  2016-11-18  /  376660
Geek Charming  /  2011-11-11  /  81250
Monster House  /  2006-06-30  /  9297
Klaus  /  2019-11-08  /  508965
NCT DREAM THE MOVIE : In A DREAM  /  2022-11-30  /  1038198
Hereditary  /  2018-06-07  /  493922
Set It Up  /  2018-06-15  /  384677
Pride & Prejudice  /  2005-09-16  /  4348
Harry Potter and the Order of the Phoenix  /  2007-07-08  /  675
Harry Potter and the Goblet of Fire  /  2005-11-16  /  674
Harry Potter and the Half-Blood Prince  /  2009-07-15  /  767
Harry Potter and the Deathly Hallows: Part 2  /  2011-07-12  /  12445
Harry Potter and the Deathly Hallows: Part 1  /  2010-11-17  /  12444
Barbarian  /  2022-09-08  /  913290
Puss in Boots: The Last Wish  /  2022-12-07  /  315162
Everything Everywhere All at Once  /  2022-03-24  /  545611
High School Musical 2  /  2007-08-17  /  13649
The Sixth Sense  /  1999-08-06  /  745
The Social Network  /  2010-10-01  /  37799
Zombieland: Double Tap  /  2019-10-09  /  338967
Scream  /  1996-12-20  /  4232
Zombieland  /  2009-10-02  /  19908
Scream  /  2022-01-12  /  646385
To All the Boys I've Loved Before  /  2018-08-16  /  466282
The Hunger Games: Catching Fire  /  2013-11-15  /  101299
Chungking Express  /  1994-07-14  /  11104
The Super Mario Bros. Movie  /  2023-04-05  /  502356
Scream VI  /  2023-03-08  /  934433
Saw  /  2004-10-01  /  176
The Little Mermaid  /  2023-05-18  /  447277
Spider-Man: Across the Spider-Verse  /  2023-05-31  /  569094
Mean Girls  /  2004-04-30  /  10625
The Redeem Team  /  2022-10-07  /  1018648
Searching  /  2018-08-24  /  489999
La La Land  /  2016-11-29  /  313369
Bird Box Barcelona  /  2023-07-14  /  805320
To All the Boys I've Loved Before  /  2018-08-16  /  466282
Barbie  /  2023-07-19  /  346698
Oppenheimer  /  2023-07-19  /  872585
High School Musical  /  2006-01-20  /  10947
Get Out  /  2017-02-24  /  419430
The Dark Knight  /  2008-07-16  /  155
My Sister's Keeper  /  2009-06-26  /  10024
Bodies Bodies Bodies  /  2022-08-05  /  520023
The Shining  /  1980-05-23  /  694
Barbie  /  2023-07-19  /  346698
Scream  /  1996-12-20  /  4232
You Are So Not Invited to My Bat Mitzvah  /  2023-08-18  /  999644
Five Nights at Freddy's  /  2023-10-25  /  507089
She's Dating the Gangster  /  2014-07-16  /  282761
Wonka  /  2023-12-06  /  787699
The Hunger Games  /  2012-03-12  /  70160
The Iron Claw  /  2023-12-21  /  850165
The Wailing  /  2016-05-12  /  293670
Paddington 2  /  2017-11-09  /  346648
Ocean's Eleven  /  2001-12-07  /  161
Dune: Part Two  /  2024-02-27  /  693134
Bodies Bodies Bodies  /  2022-08-05  /  520023
Princess Mononoke  /  1997-07-12  /  128
Civil War  /  2024-04-10  /  929590
Challengers  /  2024-04-18  /  937287
The Idea of You  /  2024-05-02  /  843527
Dear Zachary: A Letter to a Son About His Father  /  2008-10-31  /  15584
The Cove  /  2009-07-31  /  23128
The Alpinist  /  2021-02-07  /  682587
The Hunger Games: Catching Fire  /  2013-11-15  /  101299
Inside Out 2  /  2024-06-11  /  1022789
Tell Them You Love Me  /  2023-11-01  /  1153419
Diary of a Wimpy Kid: Rodrick Rules  /  2011-03-25  /  60307
Longlegs  /  2024-07-10  /  1226578
Naruto 20th Anniversary - Road of Naruto  /  2022-10-02  /  1031396
Boruto: Naruto the Movie  /  2015-08-07  /  347201
Twisters  /  2024-07-10  /  718821
Total Number of Films:  188

In [10]:
movie_id = []
result_count = 0

for film, year in zip(titles, release_years):
    response = search.movie(query = film, year = year)
    for value in response['results']:
        if value['title'] == film:
            movie_id.append(value['id'])
            result_count += 1
            break
print(movie_id)
print("Total Number of Films with ID: ", result_count)

[496243, 419430, 129, 458723, 315635, 150540, 354912, 673, 372058, 110420, 37797, 92321, 572154, 255709, 158445, 64682, 316029, 14836, 499932, 454983, 492188, 493922, 470044, 274, 617505, 1949, 333099, 613504, 205596, 37799, 68734, 1930, 102382, 324786, 302401, 291805, 318846, 774372, 739269, 761163, 556984, 591273, 4951, 515001, 83666, 155, 146233, 429200, 84892, 454983, 521777, 458723, 727745, 271110, 439079, 521029, 324857, 1592, 4552, 674, 177572, 372754, 37799, 346364, 4951, 1930, 37707, 438631, 897429, 537116, 634649, 558, 559, 537116, 331482, 8363, 50646, 396371, 414906, 810693, 82693, 4347, 466282, 10494, 18329, 81481, 347201, 361743, 787, 212716, 161, 11247, 36728, 138843, 400928, 762504, 116149, 511809, 280092, 578, 929170, 614934, 244786, 466282, 329865, 19913, 614409, 565426, 567609, 210577, 396535, 43949, 10096, 164558, 1022102, 376660, 81250, 9297, 508965, 1038198, 493922, 384677, 4348, 675, 674, 767, 12445, 12444, 913290, 315162, 545611, 13649, 745, 37799, 338967, 4232, 19908, 646385, 466282, 101299, 11104, 502356, 934433, 176, 447277, 569094, 10625, 1018648, 489999, 313369, 805320, 466282, 346698, 872585, 10947, 419430, 155, 10024, 520023, 694, 346698, 4232, 999644, 507089, 282761, 787699, 70160, 850165, 293670, 346648, 161, 693134, 520023, 128, 929590, 937287, 843527, 15584, 23128, 682587, 101299, 1022789, 1153419, 60307, 1226578, 1031396, 347201, 718821]
Total Number of Films with ID:  188

Since we have 201 total entries but only 188 films with IDs, this must mean the remaining are TV shows or short films. We will separate the TV shows.

In [11]:
zero_search = 0 # for number of results with no ID
tv_title = []
tv_year = []

for show, year in zip(titles, release_years):
    response = search.movie(query=show, year=year)
    if (len(response['results'])) == 0:
        tv_title.append(show)
        tv_year.append(year)
        print(show, year, len(response['results']))
        zero_search += 1
print(" Zero Search: ", zero_search)
print(tv_title)
print(tv_year)

Rascal Does Not Dream of Bunny Girl Senpai 2018 0
DARLING in the FRANXX 2018 0
Black Mirror: Demon 79 2023 0
Black Mirror: Hang the DJ 2017 0
Black Mirror: Rachel, Jack and Ashley Too 2019 0
The Jinx: The Life and Deaths of Robert Durst 2015 0
The Undoing 2020 0
 Zero Search:  7
['Rascal Does Not Dream of Bunny Girl Senpai', 'DARLING in the FRANXX', 'Black Mirror: Demon 79', 'Black Mirror: Hang the DJ', 'Black Mirror: Rachel, Jack and Ashley Too', 'The Jinx: The Life and Deaths of Robert Durst', 'The Undoing']
[2018, 2018, 2023, 2017, 2019, 2015, 2020]

In [12]:
total_shows = 0
tv_id = []

for show, year in zip(tv_title, tv_year):
    response = search.tv(query = show, year = year)
    for value in response['results']:
        if value['name'] == show:
            tv_id.append(value['id'])
            total_shows += 1

print("Results count: ", total_shows)

Results count:  4

As a summary, we started with 201 entries. There are 188 films with ID. 7/13 of the missing entries are TV shows or episodes with only 4/7 of them having IDs. Thus, the remaining 6 are short films.

In [13]:
movie_info = []

for movie in movie_id:
    movie = tmdb.Movies(movie)
    response = movie.info()
    movie_info.append([movie.id, movie.title, movie.spoken_languages, movie.genres ,movie.runtime,
                      movie.release_date, movie.vote_count,  movie.vote_average])
    
print(len(movie_info))

188

In [14]:
tv_info = []

for show in tv_id:
    tv = tmdb.TV(show)
    response = tv.info()
    tv_info.append([tv.id, tv.name, tv.genres, 
                   tv.spoken_languages, tv.episode_run_time,
                   tv.first_air_date, tv.number_of_seasons, 
                   tv.number_of_episodes, tv.vote_count, tv.vote_average])
    
print(len(tv_info))

4

In [15]:
# Convert into dataframes and export as .csv files

movie_df = pd.DataFrame(movie_info, columns = ['ID', 'title', 'languages', 'genres','runtime',
                                               'release_date', 'vote_count', 'vote_average'])

movie_df.head()

,ID,title,languages,genres,runtime,release_date,vote_count,vote_average
0,496243,Parasite,"[{'english_name': 'English', 'iso_639_1': 'en'...","[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",133,2019-05-30,17972,8.500
1,419430,Get Out,"[{'english_name': 'English', 'iso_639_1': 'en'...","[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",104,2017-02-24,17130,7.622
2,129,Spirited Away,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...","[{'id': 16, 'name': 'Animation'}, {'id': 10751...",125,2001-07-20,16285,8.500
3,458723,Us,"[{'english_name': 'English', 'iso_639_1': 'en'...","[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",116,2019-03-14,7212,6.970
4,315635,Spider-Man: Homecoming,"[{'english_name': 'English', 'iso_639_1': 'en'...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",133,2017-07-05,21515,7.338

In [16]:
tv_df = pd.DataFrame(tv_info, columns = ['ID', 'title', 'genres', 'languages', 'ep_runtime',
                                        'first_air_date', 'total_seasons', 'total_eps', 'vote_count',
                                        'vote_average'])

tv_df.head()

,ID,title,genres,languages,ep_runtime,first_air_date,total_seasons,total_eps,vote_count,vote_average
0,82739,Rascal Does Not Dream of Bunny Girl Senpai,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'english_name': 'Japanese', 'iso_639_1': 'ja...",[24],2018-10-04,2,13,1177,8.567
1,76121,DARLING in the FRANXX,"[{'id': 16, 'name': 'Animation'}]","[{'english_name': 'Japanese', 'iso_639_1': 'ja...",[24],2018-01-13,1,24,1743,8.564
2,61929,The Jinx: The Life and Deaths of Robert Durst,"[{'id': 99, 'name': 'Documentary'}, {'id': 80,...","[{'english_name': 'English', 'iso_639_1': 'en'...",[],2015-02-08,2,12,430,7.991
3,83851,The Undoing,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'english_name': 'English', 'iso_639_1': 'en'...",[60],2020-10-25,1,6,691,7.415

In [17]:
# export into .csv files

movie_df.to_csv('watchedmovies.csv')
print("Exported movies succesfully!")

tv_df.to_csv('watchedTV.csv')
print("Exported TV shows successfully!")

Exported movies succesfully!
Exported TV shows successfully!

# Analyzing the overall data

In [18]:
# How many did I review?

q = """
    SELECT COUNT(*) FROM reviewed
    """
reviewed.to_sql('reviewed', connection, if_exists='replace', index=False)
result= pd.read_sql_query(q, connection)
print(f"Number of films reviewed: {result.iloc[0,0]}")

Number of films reviewed: 151

In [19]:
# How many did I like?

q3 = """
    SELECT COUNT(*) FROM liked_films
    """
liked_films.to_sql('liked_films', connection, if_exists='replace', index=False)
result = pd.read_sql_query(q3, connection)
print(f"Number of films liked: {result.iloc[0,0]}")

Number of films liked: 35

In [20]:
# How are the ratings spread?

q4 = """
    SELECT rating, COUNT(*) as number_of_films
    FROM watched
    GROUP BY Rating
    ORDER BY Rating
     """
watched.to_sql('watched', connection, if_exists='replace', index=False)
ratings_spread = pd.read_sql_query(q4, connection)
print(ratings_spread)

   Rating  number_of_films
0     NaN                6
1     0.5                1
2     1.0                3
3     2.0               11
4     2.5                6
5     3.0               32
6     3.5               33
7     4.0               45
8     4.5               32
9     5.0               32

In [21]:
# How many have I rewatched?

q5 = """
     SELECT Rewatch, COUNT(*)
     FROM watched
     GROUP BY Rewatch
     """

movies_rewatched = pd.read_sql_query(q5, connection)
print(movies_rewatched)

  Rewatch  COUNT(*)
0    None       177
1     Yes        24

# Analyzing films

In [22]:
films = pd.read_csv('watchedmovies.csv')

In [23]:
# How many minutes did I spend watching films?

q6 = """
    SELECT SUM(runtime)
    FROM films
     """

films.to_sql('films', connection, if_exists='replace', index=False)
minutes_watched = pd.read_sql_query(q6, connection)
print(f"Number of minutes watched: {minutes_watched.iloc[0,0]}")

Number of minutes watched: 21661

In [24]:
# How many times did each genre appear?

from collections import Counter
import ast

def extract_genres(obj):
    if isinstance(obj, str):
        return ast.literal_eval(obj)
    elif isinstance(obj, list):
        return obj
    else:
        return []


films['genres'] = films['genres'].apply(extract_genres)

genres_list = []
for idx, row in films.iterrows():
    title = row['title']
    for genre in row['genres']:
        genres_list.append((title, genre))
        
genres_df = pd.DataFrame(genres_list, columns=['title', 'genre'])

genres_df['title'] = genres_df['title'].astype(str)
genres_df['genre'] = genres_df['genre'].astype(str)

connection.execute("DROP TABLE IF EXISTS genres_table;")
connection.execute("""
                   CREATE TABLE genres_table (
                   title VARCHAR(255),
                   genre VARCHAR(255)
                );
                   """)

genres_df.to_sql('genres_table', connection, if_exists='append', index=False)

q7 = """
     SELECT genre, COUNT(*) as number_of_films
     FROM genres_table
     GROUP BY genre
     ORDER BY number_of_films DESC;
     """
genres = pd.read_sql_query(q7, connection)
print(genres)

                                     genre  number_of_films
0              {'id': 18, 'name': 'Drama'}               77
1             {'id': 35, 'name': 'Comedy'}               60
2          {'id': 12, 'name': 'Adventure'}               42
3         {'id': 10749, 'name': 'Romance'}               39
4           {'id': 53, 'name': 'Thriller'}               38
5             {'id': 27, 'name': 'Horror'}               35
6             {'id': 28, 'name': 'Action'}               27
7          {'id': 9648, 'name': 'Mystery'}               25
8          {'id': 16, 'name': 'Animation'}               25
9            {'id': 14, 'name': 'Fantasy'}               25
10             {'id': 80, 'name': 'Crime'}               24
11         {'id': 10751, 'name': 'Family'}               22
12  {'id': 878, 'name': 'Science Fiction'}               20
13          {'id': 10402, 'name': 'Music'}               13
14       {'id': 99, 'name': 'Documentary'}               10
15           {'id': 36, 'name': 'History'}                8
16            {'id': 10752, 'name': 'War'}                4
17       {'id': 10770, 'name': 'TV Movie'}                3

In [25]:
# What were the most popular languages?
def extract_languages(obj):
    if isinstance(obj, str):
        return ast.literal_eval(obj)
    elif isinstance(obj, list):
        return obj
    else:
        return []

films['languages'] = films['languages'].apply(extract_languages)

languages_list = []
for idx, row in films.iterrows():
    title = row['title']
    for language in row['languages']:
        languages_list.append((title, language))
        
languages_df = pd.DataFrame(languages_list, columns=['title', 'language_name'])

languages_df['title'] = languages_df['title'].astype(str)
languages_df['language_name'] = languages_df['language_name'].astype(str)

connection.execute("DROP TABLE IF EXISTS languages_table;")
connection.execute("""
                   CREATE TABLE languages_table (
                   title VARCHAR(255),
                   language_name VARCHAR(255)
                );
                   """)

languages_df.to_sql('languages_table', connection, if_exists='append', index=False)

q8 = """
     SELECT language_name, COUNT(*) as number_of_films
     FROM languages_table
     GROUP BY language_name
     ORDER BY number_of_films DESC;
     """
languages_spoken = pd.read_sql_query(q8, connection)
print(languages_spoken)

                                        language_name  number_of_films
0   {'english_name': 'English', 'iso_639_1': 'en',...              162
1   {'english_name': 'Japanese', 'iso_639_1': 'ja'...               18
2   {'english_name': 'Spanish', 'iso_639_1': 'es',...               16
3   {'english_name': 'Mandarin', 'iso_639_1': 'zh'...               11
4   {'english_name': 'Korean', 'iso_639_1': 'ko', ...               10
5   {'english_name': 'French', 'iso_639_1': 'fr', ...                9
6   {'english_name': 'German', 'iso_639_1': 'de', ...                7
7   {'english_name': 'Cantonese', 'iso_639_1': 'cn...                4
8   {'english_name': 'Russian', 'iso_639_1': 'ru',...                3
9   {'english_name': 'Romanian', 'iso_639_1': 'ro'...                3
10  {'english_name': 'Portuguese', 'iso_639_1': 'p...                3
11  {'english_name': 'Italian', 'iso_639_1': 'it',...                3
12  {'english_name': 'Tagalog', 'iso_639_1': 'tl',...                2
13  {'english_name': 'Latin', 'iso_639_1': 'la', '...                2
14  {'english_name': 'Hindi', 'iso_639_1': 'hi', '...                2
15  {'english_name': 'Vietnamese', 'iso_639_1': 'v...                1
16  {'english_name': 'Urdu', 'iso_639_1': 'ur', 'n...                1
17  {'english_name': 'Swedish', 'iso_639_1': 'sv',...                1
18  {'english_name': 'Swahili', 'iso_639_1': 'sw',...                1
19  {'english_name': 'Punjabi', 'iso_639_1': 'pa',...                1
20  {'english_name': 'Persian', 'iso_639_1': 'fa',...                1
21  {'english_name': 'Northern Sami', 'iso_639_1':...                1
22  {'english_name': 'Dutch', 'iso_639_1': 'nl', '...                1
23  {'english_name': 'Czech', 'iso_639_1': 'cs', '...                1
24  {'english_name': 'Arabic', 'iso_639_1': 'ar', ...                1